@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(ss_light.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(ss_regular.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(ss_bold.woff) format('woff');
}
/*@font-face {
  font-family: 'DIN Condensed Web';
  font-style: normal;
  font-weight: 400;
  src: local('DIN Condensed Web'), local('DINCondensedWeb'), url(din.woff) format('woff');
}*/
@font-face {
  font-family: 'din-condensed-web';
  font-style: normal;
  font-weight: 400;
  src: local('DIN Condensed Web'), local('DINCondensedWeb'), url(din.woff) format('woff');
}